@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div name="Send Email">
        <div>
            <h3>Live Optics Email Service</h3>
            <button id="btn-email-trigger" type="button">Send Email</button>
        </div>
    </div>
</div>